*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff9e2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("imagenes/fondo.jpg");
}


header{
    background-color: #fff9e2;
    background-image: url("imagenes/viaja.jpg");
    height: 400px;
    text-align: center;
    border-bottom: solid 1px rgba(62, 62, 62, 0)
  
}

h1 {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
    padding-top: 10px;
}

h2 {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 4, 255);
    text-align: center;
   font-weight: bold;

}

#container {
    height:60px;
    background-color:rgba(32, 47, 55, 10);
    border-bottom: solid 1px rgba(62, 62, 62, 1)
    

}
#container li {
    display: inline;
    padding: 0 70px;
   
    
}

#container ul {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
   
}

#todo{
    width: 1000px;
    margin: 20px auto 30px;
    padding: 25px;
    border: solid 1px;
    background-color: white;
}

.prov-arriba{
    margin-top: 20px; 
}

.prov-arriba h3{
    
    margin-left: 10px;
 }
 .prov-arriba img{
    
    margin-top: 20px;
    width: 100%;
    padding-bottom: 10px;
 }

 #texto {
    padding-top: 20px;
    padding-bottom: 20px;
 }

  fieldset {

     width: 800px;
     border: 1px solid #dcdcdc;
     border-radius: 10px;
     padding: 20px;
 }

 fieldset label {
    display: block;
    margin-bottom: 0px ;
 }

 legend {
    background-color: #efefef;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    

 }

footer {
    background-color:rgba(32, 47, 55, 10);
    color:white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

#botones {
    background-color: #707070;
    border: 1px solid blueviolet;
    border-radius: 3px;
    font-size: 16px;
    color:black;
    
}
#botones:hover {
    background-color: #7d7d7d;

}

a {
    text-decoration: none;
    color: yellow;
}

a:active{
    color:red;
}